* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-left: 80px;
  padding-right: 80px;
  background-color: #fcfcfc;
  position: relative;
  font-family: 'Merriweather', serif;
}

/*navbar styles start here  */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
}

.nav_logo img {
  height: 50px;
}

.nav_list_items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav_list_items a {
  text-decoration: none;
  color: black;
  padding-left: 15px;
  padding-right: 15px;
}

.hero_bg_image {
  position: absolute;
  left: 0;
}

.nav_button button {
  border: 1px solid #00adee;
  background-color: transparent;
  border-radius: 37px 0px 37px 37px;
  width: 152px;
  height: 54px;
  font-size: 16px;
  font: 700;
  color: #00adee;
  cursor: pointer;
}

/* Navbar styles ends here */

/* Hero section styles starts here */

.hero_section{
    display: flex;
    gap: 30px;
    padding-top: 90px;
    align-items: center;
}

.hero_section_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero_section_content h1{
    font-size: 54px;
    font: 700;
}
.hero_section_content p{
    font-size: 19px;
    font: 400;
    padding-right: 50px;
}

.hero_section_button button {
  border: 1px solid #00adee;
  background-color: #00adee;
  border-radius: 37px 0px 37px 37px;
  width: 152px;
  height: 54px;
  font-size: 16px;
  font: 700;
  color: white;
  cursor: pointer;
}

/* Hero section styles ends here */
